html,body{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 10px auto;
  
}

header{
  background:linear-gradient(100deg, orange , cyan);
  color: white;
  height: 60px;
  text-align: center;
  font-size: 15px;
  color: gray;
  padding-top: 10px;
  text-align: center;
  width:100%;
  color: black;

}

.container{
  width: 500px;
  margin: auto;
}

#input{
  
  width: 430px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
  padding-inline-start: 10px;
}

#addButton{
  background-color:rgb(26, 109, 192);
  color: white;
  height: 33px;
  width: 50px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;

}

#addButton:hover{
  background-color: red;
}

#tasksList{
  margin-top: 30px;
}

.tasks{
  width: 500px;
  height: 50px;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 10px;
  padding-inline-start: 70px;
  
}

.delImg{
  width: 17px;
  position: relative;
  left: 400px;
  bottom: 37px;
}

.undoneImg{
  width: 20px;
  position: relative;
  right: 75px;
  bottom: 35px;
}

.doneImg{
  width: 20px;
  position: relative;
  right: 75px;
  bottom: 35px;
}

.done{
  width: 500px;
  height: 50px;
  margin: 5px auto;
  border: 1px solid black;
  padding-inline-start: 70px;
  text-decoration: line-through;
  
}