<div class="cat" *ngFor="let categ of categories; let categoryIndex = index">
    <button
      class="category_button"
      type="button"
      (click)="categ.show_products = !categ.show_products"
    >
      {{ categ.name }}
    </button>
  
    <div *ngIf="categ.show_products">
      <h2>Товары</h2>
      <div *ngFor="let product of categ.products; let productIndex = index" id="div_id">
        <h3>
          <a href="{{ product.link }}" [title]="product.name + ' details'">
            {{ product.name }}
          </a>
          <p>Цена: {{ product.price }}₸</p>
        </h3>
  
        <img *ngIf="product.image" src="{{ product.image }}" />
  
        <p *ngIf="product.description">
          Описание: {{ product.description }} <br />
          Отзывы: {{ product.rating }}
        </p>
  
        <button type="button"  (click)="share(product.link)">Share</button>
        <button type="button" class="btn-delete" (click)="deleteProduct(categoryIndex, productIndex)">
          <img src="../../assets/delete.png" alt="Delete Icon">delete
        </button>
        <app-product-alerts></app-product-alerts>
      </div>
    </div>
</div>
