<body>
<div>
  <div class="mainHead">
    <div class="left">
      <span><a href="" class="region">Kazakhstan</a></span>
      <a  class="select on" href="">For job seekers</a>
      <a routerLink="/companies" class="select" href="">For employers</a>
    </div>
    <div class="right">
      <a class="select dash" href="">All services</a>
      <span class="menu"></span>
    </div>
  </div>
  <div class="back">
    <img class="backImg" src="../../assets/back.png" alt="">
  </div>
</div>
<header>
  <div class="headd">
    <div class="logo">
      <a href="#"><img src="../../assets/logo.svg" alt=""></a>
      <a class="About" href="#">About</a>
    </div>
    <div class="man">
      <div class="hh">
        <button [routerLink]="['/companies']" class="btt1" href="#">Vacancies</button>
        <a routerLink="/companies" class="bttn2" href="#">Companies</a>
      </div>
    </div>
  </div>
</header>
<div class="pos">
  <div class="center">
    <div class="first">
      <h1 class="promo">Find your dream job</h1>
      <div>
        <input id="search" placeholder="Profession, position or company" name="text" autocomplete="off" type="text" class="input" value="">
        <button class="search-button" type="submit">
          <span class="submit">Find a job</span>
        </button>
      </div>
      <div class="textDiv">
        <span class="text">Am I looking for an employee?</span>
      </div>
    </div>
    <div class="second">
      <div class="count">
        <span class="num">241</span>
        <span style="font-size: 14px;">Vacancies</span>
      </div>
      <div class="count">
        <span class="num">41</span>
        <span style="font-size: 14px;">Companies</span>
      </div>
      <div class="right app-buttons">
        <a class="app ios" rel="noreferrer" target="_blank" href=""></a>
        <a class="app and" rel="noreferrer" target="_blank" href=""></a>
        <a class="app hua" rel="noreferrer" target="_blank" href=""></a>
      </div>
    </div>
  </div>
</div>
<main>
  <ul class="list">
    <li>Ethics and compliance</li>
    <li>Provision of services</li>
    <li>Using websites</li>
    <li>Personal data protection</li>
    <li>User agreement</li>
  </ul>
</main>
<footer>
  <div class="line"></div>
  <div class="footer">
    <div class="footer last">
      <p>&copy; 2024 headHunter.kz All rights reserved</p>
      <span>
                Қазақ тілі
                <img class="flag" src="../../assets/flagkz.svg" alt="">
            </span>
      <span class="rus">
                Руский язык
                <img class="flag" src="../../assets/flagrus.svg" alt="">
            </span>
    </div>
    <div class="right li">
      <button class="btt"><img class="social" src="../../assets/free-icon-facebook-app-symbol-20837.png" alt=""></button>
      <button class="btt"><img class="social" src="../../assets/free-icon-social-15452816.png" alt=""></button>
      <button class="btt"><img class="social" src="../../assets/free-icon-instagram-3661391.png" alt=""></button>
    </div>
  </div>
</footer>
</body>
